@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
*{
    font-family: 'Titillium Web', sans-serif;
    font-size: larger;
}
body{
background-color: #3d5a80;
margin: 0;
}
nav{
background-color: #293241;
height: 3em;
display: flex;
}
a{
    text-decoration: none;
    color: white;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
a:hover{
    background-color: #EE6C4D;
}
img{
    width: 3em;
    height: 3em;
}