@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
*{
    font-family: 'Titillium Web', sans-serif;
    font-size: larger;
    color: white;
}
body{
background-color: #98C1D9;
margin: 0;
}
nav{
background-color: #293241;
height: 3em;
display: flex;
}
.glownie{
    background-color: #3d5a80;
   
    margin-left: 1em;
    padding: 0.5em;
    display: flex;
    align-items: center;
    flex-direction: column;

}
main, div{
    width: 80%;
    
}
h1{
    font-size: 2em;
    margin: 0;
    padding: 0;
}
p{

    color: white;
    font-size: 1em;
    margin: 0;
    padding: 0;
    
}
a{
    text-decoration: none;
    color: white;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
a:hover{
    background-color: #EE6C4D;
}
img{
    width: 3em;
    height: 3em;
}
@media screen and (max-width: 800px) {
    nav {
        height: 5em;
        width: 100%;
    }

    .logo {
        width: 5em;
        height: 5em;
    }
    .glownie{
        
        width: 100%;
      
    }
}